<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bad word detecter</title>
</head>
<body>
    <div id="contentBox" class="justify-content-center">
        <h1>Results of Your Content</h1>
        <!-- <p>Username: <span data-th-text="${detecter.username}"></span> </p>
        <br> -->
        <p>Result: <span data-th-text="${detecter.censoredContent}"></span> </p>
        <p>Numer of Profanities detected: <span data-th-text="${detecter.badWordsTotal}"></span> </p>
        <br>
    </div>
    
</body>
</html>